@model List<LoginForm.Models.employees>

<a asp-action="AddEmp" class="btn btn-primary">Add New Employee</a>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>EmployeeID</th>
            <th>Name</th>
            <th>Password</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>RollID</th>
            <th>DepartmentID</th>
            <th>Salary</th>
            <th>Hobbies</th>
            <th>Profile Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var employee in Model)
        {
            <tr>
                <td>@employee.EmployeeID</td>
                <td>@employee.Name</td>
                <td>@employee.Password</td>
                <td>@employee.Email</td>
                <td>@employee.PhoneNumber</td>
                <td>@employee.role_id</td>
                <td>@employee.DepartmentID</td>
                <td>@employee.Salary</td>
                <td>
                    @if (employee.Hobbies != null && employee.Hobbies.Any())
                    {
                        @String.Join(", ", employee.Hobbies)
                    }
                    else
                    {
                        <span>No preferences selected.</span>
                    }
                </td>
                <td>
                    @if (employee.profileimg != null)
                    {
                        <img src="data:@employee.contenttype;base64,@Convert.ToBase64String(employee.profileimg)" width="50" height="50" />
                    }
                    else
                    {
                        <p>No profile Img</p>
                    }
                </td>
                <td>
                    <a asp-action="UpdateEmp" asp-route-id="@employee.EmployeeID">Edit</a> |
                   
                    <a asp-action="DeleteEmp" asp-route-id="@employee.EmployeeID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>