@model List<LoginForm.Models.Handloom>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    @* <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" /> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add New Handloom
    </button>

    <!-- Modal For Add -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form asp-action="AddHandloom" method="post">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Handloom</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label  class="control-label">Handloom Name</label>
                            <input name="handloomname" class="form-control" />
                           
                        </div>
                        <div class="mb-3">
                            <label class="control-label">LOC</label>
                            <input name="LOC" class="form-control" type="text" />
                           
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-end">

                        <button type="submit" class="btn btn-success">Add Department</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Handloom ID</th>
                <th>Handloom Name</th>
                <th>LOC</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var HL in Model)
            {
                <tr>
                    <td>@HL.handloomID</td>
                    <td>@HL.handloomname</td>
                    <td>@HL.LOC</td>

                    <td>
                        <a asp-action="UpdateHandloom" asp-route-id="@HL.handloomID">Edit</a> |

                        <a asp-action="DeleteHandloom" asp-route-id="@HL.handloomID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

   
</body>
</html>
