@model List<ERP.Models.Customers>

    
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>FirstName</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Password</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.customer_id</td>
                <td>@customer.firstName</td>
                <td>@customer.lastName</td>
                <td>@customer.email</td>
                <td>@customer.phone</td>
                <td>@customer.password</td>
                

                <td>
                   @*  <a asp-action="UpdateHandloom" asp-route-id="@HL.handloomID">Edit</a> | *@

                    <a asp-action="DeleteCustomers" asp-route-id="@customer.customer_id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>